.App {
  text-align: center;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Rubik+Mono+One&display=swap');


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font:100rem !important;
  color: white;
  margin-top:4rem

}
.backgroundImg{
  background-image:url("C:\Users\admin\Desktop\Webcafe\dinningsolution\src\images\Re.gif");

  background-repeat: no-repeat;
  background-size: 92vw 47vh;
  /* filter: brightness(0.3);   */
   
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font:100rem !important;
  color: #61524f;
  background-position: 50% 10%;
  overflow:auto;
  word-break: break-word;
  font-family: 'Rubik Mono One', sans-serif ;
}

.App-link {
  color: #61dafb;
}

h2 {
  
  font-family: 'Roboto Slab', serif;
}

.App-logo {
  pointer-events: none;
  transform: rotate(45deg);
  transition : transform 20s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 9s linear infinite;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#overlay {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  bottom: 0;
  background: #1E2026;
  /* background-image:linear-gradient(rgb(0, 0, 47),rgb(2, 2, 53),rgb(3, 3, 87)) ; */
  z-index: 4;
  animation: animate 5s;
  animation-delay: 3.5s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* flex-wrap:wrap */
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h4{
  font-family: 'Roboto Slab', serif;
color:"grey !important"
}

button{
  border-radius:100px;

}

#h21 {
  margin-top:10px;
  font-size: medium;
}
#h51 {
  font-size: small;
  letter-spacing: 3px;
}