body {
  margin: 0;
  background: linear-gradient(0deg, rgba(30,32,38,1) 0%, rgba(30,33,41,1) 0%, rgba(40,44,56,1));
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
